*{
    margin: 0;
    padding: 0;
  
}
@font-face {
    font-family: pixel;
    src: url(Minecraft.ttf);
}
@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;


}
.background{

    position: absolute;
    object-fit: cover;
    height: 50%;
    width: 40%;
    z-index: -1;

}
.company{
    position: absolute;
    top: 20%;
    width: 40%;
    color: black;
    display: flex; 
    justify-content: flex-start;
    font-family: pixel;
}
h1{
    width: 30vw;
    font-size: 4vw;
    margin-top: 10px;
}
img#logo{
    width: 10vw;
}
#left{
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.description{
    text-align: center;
}
#sky{
    object-position: 2% -40px;
}
#sand{
    margin-top: 50vh;
    object-position: 4% 3px;
}
#odin{
    width: 40vw;
    height: 100vh;
    object-fit: contain;
    object-position: 30% ;
}
.form-row{
    position: relative;
}
.form-row label{
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.452);
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    
}

h3{
    padding-top: 10vh;
    color: white;
    font-size: 40px;
  
}
p{
    color: wheat;
    font-size: 20px;
    margin: 8%;
}
#right{
    width: 60%;
    height: 100%;
    background-color: #0A3643;
    font-family: norse;
}

.sign-up{
    border: 1px;
    border-style: solid;
    border-radius: 1%;
    border-color: aliceblue;
    color: aliceblue;
    display: grid;
    gap: 50px;
    padding: 55px;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.form-row input{
    width: 100%;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 4px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-family: pixel;
}
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
input:focus{
    outline: none;
    border-color: rgb(187, 146, 12);
    color: yellow; 
    bottom: 20px;
    

}
label.move{
    transition: all .6s;
    background-color: rgb(250, 137, 0);
    transform: translateX(1px) translateY(-18px) scale(.85);
    color: rgb(0, 0, 0);
}
label.move ~ input{
    transition: all .4s;
    transform: scale(1.03);
    border: 3px solid orange;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
#dj.wrong{
    border-color: red;
    animation: shake 0.1s ease-in-out;
}
label.wrong{
    background-color: red;
}
button{
    max-width: 80px;
    font-family: norse;
    font-size: 16px;
    -webkit-user-drag: none;
    user-select: none;
}

button:hover{
    cursor: pointer;
    transition: background-color .4s ease-in-out;
    background-color: orange;
}
span{
    visibility: hidden;
    color: wheat;
}
a{
    color: orange;
    border-bottom: 1px orange solid;
}
a:hover{
   cursor: pointer;
}
#box:hover{
    cursor: pointer;
}

input.error{
    transition: border-color .2s ease-in;
    border-color: red;
    animation: shake 0.1s ease-in-out;
}
input.error + span{
    visibility: visible;
    transition: .1s color ease;
    color: red;
    
}
dialog{
    background-color: #0A3643;
    overflow-y: scroll;
    margin: auto;
    width: 40%;
    max-width: 700px;
    max-height: 750px;
    text-align: center;
    color: wheat;
    font-size: 20px;

}
dialog::-webkit-scrollbar, dialog::-webkit-scrollbar-track {
    width: 5px;
  }
  dialog::-webkit-scrollbar-thumb {
    background: orange;
  }

h2{
    padding-top: 50px;
    font-size: 40px;
}
h5{
    font-size: 35px;
}
li,p{
    margin: 10%;
}
.address{
    margin: 0;
    margin-bottom: 20px;
}
button.x{
    position: sticky;
    top: 10px;
    left: 5px;
    padding: 10px;
    border-radius: 100%;
    font-size: 15px;
    background-color: orange;
    float: left;
    font-family: 'Courier New', Courier, monospace;

}
.signIN{
    text-align: center;
    margin-top: 10px;
    color: wheat;
    padding: 10px;
}
div.checkbox{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 15px 50% 50px;
    grid-template-rows: 20px;
}
label#terms{
    margin-left: 5px;
}

/*small screens*/
@media (max-width: 750px){
    body{
        overflow: hidden;
        overflow-y: scroll;
        background-color: #0A3643;
    }
    body::-webkit-scrollbar, body::-webkit-scrollbar-track {
        background-color: #0A3643;
        width: 10px;
      }
    body::-webkit-scrollbar-thumb {
        background: orange;
      }
    .company{
        top: 0%;
        width: 100vw;
    }
    h1{
        width: 100%;
        font-size: 10vw;
    }
    img#logo{
        width: 20vw;
    }
    #odin{
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }
    #left{
        height: 30vh;
        width: 100vw;
    }
    #right{
        height: 70vh;
        width: 100vw;
    }
    h3{
        padding-top: 0;
        font-size: 40px;
      
    }
    p{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .form-row{
        flex-basis: 100%
    }
    .sign-up{
        grid-template-columns: 1fr;
        margin-top: 05%;
    }
    @media (max-height: 750px) {
        body{
            overflow: scroll;
            
        }
        #right{
            position: fixed;
            overflow: visible;
            width: 100%;
            height: 100%;
        }
        .description{
            visibility: hidden;
            height: 0px;
        }
        .sign-up{
            width: 80%;
            height: 80%; 
            margin: 0px;
            margin-top: 5%;
            margin-left: 10%;
            padding: 5px;
        }
    }
    dialog{
        width: 80%;
    }
    div.checkbox{
        grid-column-start: 1;
        grid-column-end: 2;}
}

